---
import DefaultLayout from '../layouts/DefaultLayout.astro'


import { getCollection } from 'astro:content';

/*
const projects = (await getCollection('projects'));
projects.filter((post) => !post.data.draft)
  .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
  .slice(0, 1);
*/
---

<!--
	This page displays my personal coding-related projects! Hope you enjoy! 
        Also, why are you reading this?

	@Author: Cole Marino
	@Author: cole1.marino@gmail.com

-->


<!DOCTYPE html>
<DefaultLayout title={"Projects"}>

    <body>
        <!-- header -->
        <head>
            <h1  style= "padding-top: 1.5%; text-shadow: 5px 5px black; color: white; text-align:center; font-size:600%; font-family:verdana;">
                <b>
                    Projects 👨‍💻
                </b>
            </h1>
        </head>

        <!-- displays various projects with links leading to more information -->
            <!-- TODO: Try to implement functional versions of these projects! -->
        <main>

            <!-- creates board of coding projects! -->
            <span style="white-space: nowrap; padding-bottom: 20px; padding-top: 30px;">
                
                <!-- draws the directory and other effects (which are very pretty) -->
                    <!-- TODO: maybe make these link to different pages with more explanation instead -->

                <!-- 
                <div class="">
                    <ul class="flex flex-row flex-wrap mb-4 justify-center">
                    {
                    projects.map((projects) => (
                        <>
                        <div class=" xl:w-1/4 lg:w-1/3 md:w-1/2 sm:w-full p-4">
                            <a
                            href={`/projects/${projects.slug}`}
                            class="c-card block bg-white shadow-md hover:shadow-xl rounded-lg overflow-hidden hover:scale-[105%] hoverImgEffect"
                            >
                            <div class="relative pb-48 overflow-hidden">
                                <img
                                class="absolute inset-0 h-full w-full object-cover"
                                src={projects.data.img}
                                alt={projects.data.img_alt}
                                />
                            </div>
                            <div class="p-4">
                                {projects.data.tags.map((tag) => (
                                    <span class="inline-block px-2 mr-1 py-1 leading-none bg-blue-200 text-blue-800 rounded-full font-semibold uppercase tracking-wide text-xs"> {tag}</span>
                                ))}
                                <h2 class="mt-2 mb-2  font-bold">{projects.data.title}</h2>
                                <p class="text-sm">{projects.data.description}</p>
                            </div>
                            </a>
                        </div>
                        </>
                    ))
                    }
                    </ul>
                </div>
                -->
            </span>
        </main>

        <!-- standard copyright info footer 
        <footer>
            <i style="font-size: 100%; color: yellow; padding-top: 1%; text-align: center;">
                *You can click on any of these projects for redirection to a page with greater elaboration.
            </i>
            <Footer>
        </footer>-->

    </body>

</DefaultLayout>