---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import ItemCard from '../components/ItemCard.astro'
import { getCollection } from 'astro:content';
import Footer from '../components/Footer.astro';

const projects = (await getCollection('projects'))
  .filter((post) => !post.data.draft)
  .slice(0, 4);
---

<!--
	This page displays my personal coding-related projects! Hope you enjoy! 
        Also, why are you reading this?

	@Author: Cole Marino
	@Author: cole1.marino@gmail.com


    This page employs ItemCards in order to display each project.

-->


<!DOCTYPE html>
<DefaultLayout title={"Projects"}>

    <body>
        <!-- header -->
        <head>
            <h1  style= "padding-top: 1.5%; text-shadow: 5px 5px black; color: white; text-align:center; font-size:600%; font-family:verdana;">
                <b>
                    Projects 👨‍💻
                </b>
            </h1>
        </head>

        <!-- displays various projects with links leading to more information -->
            <!-- TODO: Try to implement functional versions of these projects! -->
        <main class="md:p-4 m-auto max-w-7xl my-2 mb-8">

            <!-- Personal projects -->
            <div class="">
                <h3 class="text-tt-sm md:text-tt-md lg:text-tt-lg xl:text-tt-xl font-extrabold text-blue-700 mb-2">
                    Personal Projects:
                </h3>
                <p class="italic text-t-sm md:text-t-md lg:text-t-lg xl:text-t-xl font-normal text-black mb-4">
                    Here are some of my favorite personal projects which I have developed over the years.
                </p>
            </div>

            <!-- Academic projects -->
            <div>
                <h3 class="text-tt-sm md:text-tt-md lg:text-tt-lg xl:text-tt-xl font-extrabold text-blue-700 mb-2">
                    Academic Projects:
                </h3>
                <p class="italic text-t-sm md:text-t-md lg:text-t-lg xl:text-t-xl font-normal text-black mb-4">
                    Here are some Computer Science related projects I have worked on as a student of the Rochester Institute of Technology.
                </p>
            </div>


            <!-- creates board of coding projects! -->
            <div class="mt-8">
                
                <!-- item cards for projects -->
                <div class="flex justify-center">
                    <div class="grid md:grid-cols-3 grid-cols-1 grid-flow-row justify-evenly gap-4 scale-x-75 scale-y-75">
                        {
                            projects.map((projects) => (
                                <ItemCard
                                title={projects.data.title}
                                description={projects.data.description}
                                date={projects.data.publishDate}
                                slug={projects.slug}
                                img={projects.data.img}
                                img_alt={projects.data.img_alt}
                                tags={projects.data.tags}
                                /> 
                            </>
                            ))
                        }
                    </div>
                </div>
            </div>
        </main>


    </body>

    <!-- standard copyright info footer -->
    <footer>
        <Footer>
    </footer>

</DefaultLayout>