---
interface ItemCardProps {
  title: string;
  projType: string;
  description: string;
  publishDate: string;
  tags: any; // this was string but made it to any
  img: string;
  img_alt: string;
  url: string;
  slug: string;
}

const { title, description, projType, publishDate, slug, tags, img, img_alt, url } =
  Astro.props as ItemCardProps;


---

<!-- 
  This is the template for an item card which portrays a simple, linkable, amount of data.

    @Author: Cole Marino
    @Author: cole1.marino@gmail.com

    This was mostly created to represent my personal coding projects. 
      Each card will contain an image at the top, with a title and description at the bottom - and the whole thing can link to another url.

    
    Cards refer to .mdx files (contained in /src/content/projects, for example)
 -->



<div class="p-4"> <!-- xl:w-1/4 lg:w-1/3 sm:w-1/2 xs:w-full  -->

    <!-- sets link to redirection when clicked on -->
        <!-- href used to be: `{/${projType}/${slug}}` -->
    <a
      href=url
      class="c-card block bg-white dark:bg-gray-700 shadow-md hover:shadow-xl rounded-lg overflow-hidden hover:scale-[105%] hoverImgEffect"
      >

      <!-- adds image -->
      <div class="relative overflow-hidden">
        <img width="[100%]" height="100px" src={img} alt={img_alt} />
      </div>

      <!-- adds stripe below image -->
      <div class="flex justify-center">
        <hr class="w-[100%] h-2 bg-gradient-to-r from-purple-600 to-blue-500" />
      </div>

      <!-- adds text and description -->
      <div class="p-4 text-white" style="font-family: Verdana;">
          {
            tags.map((tag) => (
                <span class="inline-block px-2 mr-1 py-1 leading-none bg-blue-200 text-blue-800 rounded-full font-semibold uppercase tracking-wide text-xs"> {tag}</span>
            ))
          } 
        <h2 class="mt-4 mb-2  font-bold">{title}</h2>
        <p class="text-sm">{description}</p>
      </div>
    </a>
  </div>