---
import { CollectionEntry, getCollection } from "astro:content";

import Footer from '../../components/Footer.astro'
import '../styles/global.css'

//import FormattedDate from "../../components/FormattedDate.astro";

interface Props {
  entry: CollectionEntry<"projects">;
}
export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<DefaultLayout title={entry.data.title} description={entry.data.description}>
  <div class="flex justify-center mt-8 px-6">
    <div class="">
      {
        entry.data.img && (
          <img
            class="mx-auto hover:scale-[102%] block drop-shadow-lg hoverImgEffect rounded-xl max-w-4xl"
            src={entry.data.img}
            alt={entry.data.img_alt || ""}
          />
        )
      }
      <h2 class="my-2 text-center font-medium text-xl">
        <FormattedDate date={entry.data.publishDate} />
		{entry.data.tags.map((tag) => (
			<span class="inline-block px-2 mr-1 py-1 leading-none bg-blue-200 text-blue-800 rounded-full font-semibold uppercase tracking-wide text-sm"><a  href={`/projects/${tag}`}> {tag}</a></span>
		  ))}
      </h2>
      <h1 class="my-2 text-center font-bold text-4xl ">
        {entry.data.title}
      </h1>
      <div class="mx-auto prose prose-h2:prose-3xl prose-h2:font-medium prose-lg mt-6 max-w-3xl mb-12">
        <Content />
      </div>
    </div>
  </div>
</DefaultLayout>